<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h4>Boards:</h4>
        </div>
		<div class="col-xs-3 text-right">
			<button id="btnCreateBoard" class="btn btn-default" data-toggle="modal" data-target="#modalCreateBoard" type="button" aria-label="Add Task">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
            <!-- TODO: implement import board feature!
            <button id="btnImportBoard" class="btn btn-default" type="button" aria-label="Import Board">
				<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
			</button>-->
		</div>
        <div class="col-xs-3">
            <div class="input-group pt-search-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed"> 
                <thead> 
                    <tr>
                        <th style="width: 80%;">Board Name</th>
                        <th>Actions</th> 
                    </tr> 
                </thead> 
                <tbody>
					           <tr ng-repeat="board in boards | filter:searchText ">
                        <td>{{board.name}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" ng-click="gotoBoard(board._id)">View</a>
                            <a class="btn btn-danger btn-sm" ng-click="startDeleteBoard(board)">Delete</a>
                        </td>
					           </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>
<!-- Create Board Modal -->                                                                            
<div id="modalCreateBoard" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Board</h4>
            </div>
            <div class="modal-body">
                <form id="formCreateBoard">
                    <div class="row">
                        <div ng-show="msgErrorCreateBoard" class="col-xs-12">
                            <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> {{msgErrorAddTask}}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="inputBoardName">Board name:</label>
                                <input type="text" class="form-control" id="inputBoardName" placeholder="My little scrum board">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="inputBoardPrivacy">Board privacy:</label>
                                <select class="form-control" id="inputBoardPrivacy">
                                    <option value="public" selected>Public</option>
                                    <option value="private">Private (Not listed)</option>
                                    <!--<option value="local" disabled>Local (Not synced with the server)</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label for="inputBoardColumnName">Column name:</label>
                                <input type="text" class="form-control" id="inputBoardColumnName" placeholder="To do">
                                <p class="help-block">Minimum: 1, Maximum: 12</p>
                            </div>
                        </div>
                         <div class="col-xs-5">
                            <div class="form-group">
                                <label for="inputBoardColumnDisplay">Column style:</label>
                                <select class="form-control" id="inputBoardColumnDisplay">
                                    <option value="default">Grey</option>
                                    <option value="info">Blue</option>
                                    <option value="warning">Yellow</option>
                                    <option value="success">Green</option>
                                    <option value="danger">Red</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <button style="margin-top:25px" id="btnAddNewColumn" type="button" ng-click="addColumn()" class="btn btn-default">Add</button>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="inputBoardColumnName">Columns: <span class="badge">{{tmpBoardData.columns.length}}</span></label>
                                <div ng-repeat="column in tmpBoardData.columns" class="alert alert-{{column.display}}">
                                    <button type="button" class="close" ng-click="deleteColumn(column.id)" aria-label="Delete"><span aria-hidden="true">&times;</span></button>
                                    <strong>{{column.name}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-click="createBoard()" type="button" class="btn btn-primary">Create Board</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
<!-- Create Board Modal -->                                                                            
<div id="modalDeleteBoardConfirmation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Board</h4>
            </div>
            <div class="modal-body">
                <strong>Are you sure?</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-click="confirmDeleteBoard()" type="button" class="btn btn-danger">Delete Board</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 